In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('CSV_Datasets\Multimodal_Tweets_With_Images.csv')

In [5]:
df1.head()

,File Name,Caption,LABEL,Image_Category,Image Path
0,1.txt,How I feel today #legday #jelly #aching #gym,0,Personal Well-being and Emotions,Image_Dataset/All/1.jpg
1,10.txt,@ArrivaTW absolute disgrace two carriages from...,0,"Activities, Entertainment, and Experiences",Image_Dataset/All/10.jpg
2,100.txt,This is my Valentine's from 1 of my nephews. I...,2,Social Interactions and Relationships,Image_Dataset/All/100.jpg
3,1000.txt,betterfeelingfilms: RT via Instagram: First da...,1,Personal Well-being and Emotions,Image_Dataset/All/1000.jpg
4,1001.txt,Zoe's first love #Rattled @JohnnyHarper15,2,Social Interactions and Relationships,Image_Dataset/All/1001.jpg

In [4]:
# Define a mapping dictionary to change labels
label_mapping = {
    'negative': 0,
    'neutral': 1,
    'positive': 2
}

# Apply the mapping to the LABEL column
df1['LABEL'] = df1['LABEL'].map(label_mapping)

In [6]:
df1.to_csv('Final_Dataset/Multimodal_final.csv', index=False)  # Save to a new CSV file

In [27]:
df2 = pd.read_csv("CSV_Datasets\Posts_MetadataToo.csv")

In [32]:
df2.head()

                                                Text  Sentiment
0   Enjoying a beautiful day at the park!        ...        2.0
1   Traffic was terrible this morning.           ...        0.0
2   Just finished an amazing workout! ðŸ’ª          ...        2.0
3   Excited about the upcoming weekend getaway!  ...        2.0
4   Trying out a new recipe for dinner tonight.  ...        1.0

In [29]:
# Define a mapping dictionary to change sentiments
sentiment_mapping = {
    ' Negative  ': 0,
    ' Neutral   ': 1,
    ' Positive  ': 2
}

# Apply the mapping to the Sentiment column
df2['Sentiment'] = df2['Sentiment'].map(sentiment_mapping)

In [31]:
df2 = df2[['Text', 'Sentiment']]

In [33]:
df2.to_csv('Final_Dataset/Posts_final.csv', index=False)

In [34]:
df3 = pd.read_csv("CSV_Datasets\Reddit+Twitter.csv")

In [37]:
df3.head()

                                       clean_comment  category
0   family mormon have never tried explain them t...       2.0
1  buddhism has very much lot compatible with chr...       2.0
2  seriously don say thing first all they won get...       0.0
3  what you have learned yours and only yours wha...       1.0
4  for your own benefit you may want read living ...       2.0

In [36]:
# Drop the last column 'clean_text'
df3 = df3.drop(columns=['clean_text'])

# Define a mapping dictionary to change categories
category_mapping = {
    1.0: 2,
    0.0: 1,
    -1.0: 0
}

# Apply the mapping to the 'category' column
df3['category'] = df3['category'].map(category_mapping)

In [38]:
df3.to_csv('Final_Dataset/Reddit+Twitter_final.csv', index=False)